.title {
  display: flex;
  gap: 2px;
  align-items: center;
  position: relative;
  white-space: nowrap;
  /* margin: 10px 0px 1px; */
    /* text-align: start; */
}

.title::after {
    content: "";
    display: block;
    position: absolute;
    left: 6%;
    /* margin-right: -2rem; */
  /* margin-left: 8%;
    /*width: 20rem;
    height: 1px; */
    background: var(--color-primary-variant);
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5%;
  align-items: center;
}

.about__image {
  width: 18rem;
  border-radius: 1rem;
}

.resume {
  margin-top: 1rem;
  font-weight: 600;
    font-size: 0.85rem;
}