.header__container { 
    position: relative;
    text-align: start;
    margin: 8rem auto 0rem;
    width: var(--container-width-lg);
  }

  .intro__text {
    width: 60%;
    margin-top: 1rem;
  }

/* header socials styling */
.socials__container {
  display: flex;
  gap: 3rem;
  margin-top: 2.5rem;
}

.header__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    gap: 1.4rem;
    font-size: 1rem;
}
  
  .header__socials::after {
    content: "";
    width: 3rem;
    height: 1px;
    background: var(--color-primary-variant);
  }

  /* buttons styling */
  .cta__btn {
    font-weight: 600;
    font-size: 0.85rem;
  }

  /* scroll down */
.scroll__down {
    position: absolute;
    right: 1%;
    margin-top: -6rem;
    letter-spacing: 2px;
    transform: rotate(90deg);
    font-weight: 400;
    font-size: 0.9rem;
  }